#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
    useFullAssets: %debugMode%
    googleAnalytics: UA-XXX

includes:
    - console.neon
    - services.neon

extensions:
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    #translations: Kdyby\Translation\DI\TranslationExtension
    autowired: Kdyby\Autowired\DI\AutowiredExtension
    doctrine2identity: Majkl578\NetteAddons\Doctrine2Identity\DI\IdentityExtension
    images: Brabijan\Images\DI\ImagesExtension

php:
    date.timezone: Europe/Prague
    # zlib.output_compression: yes

events:
    debugger: false

nette:
    container:
        debugger: false


    application:
        errorPresenter: Error
        mapping:
            *: App\*Module\*Presenter
    latte:
        macros:
            - App\Utils\Latte\UIMacros

    session:
        expiration: 14 days



doctrine:
    metadata:
        App\Model: annotations("%appDir%/model")
